.container header{
    padding: auto;
    margin: auto;
}
:root {
            --primary-gradient: linear-gradient(135deg, #333 0%, #000 100%);
            --secondary-gradient: linear-gradient(135deg, #666 0%, #333 100%);
            --dark-gradient: linear-gradient(135deg, #222 0%, #000 100%);
        }

.header{
  display: flex;
justify-content: center;
   align-items: center;
   flex-direction: column;
   text-align:center;
}


.mail{
 position: absolute;

}

.product{
    padding:0 100px 50px 0;
   margin: 0 0 100px 0;
   margin-top: -0.25rem

}
.container-product{
    padding-left: 150px;
}

.container-product{
    padding-left: 150px;
}


.joinus{
    height: 100vh;

   margin-top: 100px;
}

.cssClass{
  color: rgb(255, 255, 255);
}
