:host {
  display: block;
  height: 100vh;
  background-color: rgb(33, 37, 41);
}
.weatherContainer{
  display:flex;

background-color: dark;

justify-content: center;
  align-items: center;


  font-family: 'Arial', sans-serif;
  text-align: center;
  color: white;
}
.weatherHeader{
  background-color: black;
  color:grey
}
