:host {
  display: block;
  height: 100vh;
  background-color: rgb(33, 37, 41);
}

h1,h2,h3{
  text-align: center;
  margin-top: 20px;
}
input{
  background-color: white;
  color: black;
  padding: 10px;
  border-radius: 5px;
}
